# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

import numpy as np
%matplotlib inline
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bokeh.plotting as bkp
import json
from pandas.io.json import json_normalize

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string

data = 

json.load((open('data/Drone_Data.json')))

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Dade</td>
      <td>12345</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Broward</td>
      <td>40000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Palm Beach</td>
      <td>60000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Summit</td>
      <td>1234</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Cuyahoga</td>
      <td>1337</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>population</th>
      <th>state</th>
      <th>shortname</th>
      <th>info.governor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Dade</td>
      <td>12345</td>
      <td>Florida</td>
      <td>FL</td>
      <td>Rick Scott</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Broward</td>
      <td>40000</td>
      <td>Florida</td>
      <td>FL</td>
      <td>Rick Scott</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Palm Beach</td>
      <td>60000</td>
      <td>Florida</td>
      <td>FL</td>
      <td>Rick Scott</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Summit</td>
      <td>1234</td>
      <td>Ohio</td>
      <td>OH</td>
      <td>John Kasich</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Cuyahoga</td>
      <td>1337</td>
      <td>Ohio</td>
      <td>OH</td>
      <td>John Kasich</td>
    </tr>
  </tbody>
</table>
</div>

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [6]:
# load json as string
data = json.load((open('Drone_Data.json')))

In [7]:
# load as Pandas dataframe
Drone_json_df = pd.read_json('Drone_Data.json')

****
LOADING AND WORKING WITH DATA FILES

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,