LOAD ALL FILES INTO INDIVIDUAL DATA FRAMES AND LOOK FOR COMMONALITIES

In [49]:
import pandas as pd
import numpy as np
%matplotlib inline
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bokeh.plotting as bkp
import json
from pandas.io.json import json_normalize

LOAD ALL FILES INTO INDIVIDUAL DATA FRAMES AND LOOK FOR COMMONALITIES

In [50]:
CIA_Pakistan_csv = open('Drone_Data/CIA and US military drone strikes in Pakistan, 2004 to present - '
                        'Drone strikes data.csv', mode='r')
US_Somalia_csv = open('Drone_Data/US strikes in Somalia, 2007 to present - All US actions.csv', mode='r')
US_Yemen_csv = open('Drone_Data/US strikes in Yemen, 2002 to present - All US actions.csv', mode='r')
US_Afghanistan_csv = open('Drone_Data/Afghanistan_ US air and drone strikes, 2015 to present - '
                          'Bureau data_ US strikes.csv', mode='r')

In [51]:
CIA_Pakistan_data = pd.read_csv(CIA_Pakistan_csv)
US_Somalia_data = pd.read_csv(US_Somalia_csv)
US_Yemen_data = _data = pd.read_csv(US_Yemen_csv)
US_Afghanistan_data = pd.read_csv(US_Afghanistan_csv)

In [ ]:
CIA_Pakistan_data.head(0)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Strike ID</th>
      <th>Date</th>
      <th>Location</th>
      <th>Area</th>
      <th>Minimum total people killed</th>
      <th>Maximum total people killed</th>
      <th>Minimum civilians reported killed</th>
      <th>Maximum civilians reported killed</th>
      <th>Minimum children reported killed</th>
      <th>Maximum children reported killed</th>
      <th>Minimum reported injured</th>
      <th>Maximum reported injured</th>
      <th>Strike link</th>
      <th>Unnamed: 13</th>
      <th>Index</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [77]:
US_Somalia_data.head(0)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Date</th>
      <th>Location</th>
      <th>Confirmed/
possible US strike</th>
      <th>Air strike?</th>
      <th>Drone strike</th>
      <th>Strike type</th>
      <th>Minimum strikes</th>
      <th>Maximum strikes</th>
      <th>Minimum people killed</th>
      <th>Maximum people killed</th>
      <th>Minimum civilians killed</th>
      <th>Maximum civilians killed</th>
      <th>Minimum children killed</th>
      <th>Maximum children killed</th>
      <th>Minimum people injured</th>
      <th>Maximum people injured</th>
      <th>Strike link</th>
      <th>Unnamed: 18</th>
      <th>Index</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [74]:
US_Yemen_data.head(0)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Strike ID</th>
      <th>Date</th>
      <th>Location</th>
      <th>Province</th>
      <th>Type of attack</th>
      <th>Confirmed/
possible US attack?</th>
      <th>Air operation?</th>
      <th>Drone strike</th>
      <th>Minimum number of strikes</th>
      <th>Maximum number of strikes</th>
      <th>...</th>
      <th>Maximum people killed</th>
      <th>Minimum civilians reported killed</th>
      <th>Maximum civilians reported killed</th>
      <th>Minimum children reported killed</th>
      <th>Maximum children reported killed</th>
      <th>Minimum people injured</th>
      <th>Maximum people injured</th>
      <th>Strike link</th>
      <th>Unnamed: 19</th>
      <th>Index</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<p>0 rows × 21 columns</p>
</div>

In [72]:
US_Afghanistan_data.head(0)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Strike</th>
      <th>Date</th>
      <th>Village/local area</th>
      <th>District</th>
      <th>Province</th>
      <th>Type of attack</th>
      <th>Reportedly drone?</th>
      <th>US confirmed?</th>
      <th>US only source?</th>
      <th>Counter-
terrorism, force protection or strategic effects?</th>
      <th>...</th>
      <th>Maximum total people killed</th>
      <th>Minimum civilians reported killed</th>
      <th>Maximum civilians reported killed</th>
      <th>Minimum children reported killed</th>
      <th>Maximum children reported killed</th>
      <th>Minimum reported injured</th>
      <th>Maximum reported injured</th>
      <th>Strike link</th>
      <th>Timeline URL</th>
      <th>Index</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<p>0 rows × 26 columns</p>
</div>

LOAD JSON FILE CREATED FROM CIA TWITTER FEED

In [12]:
twitter_drone = json.load((open('Drone_Data/Drone_Data.json')))

In [14]:
twitter_drone_data = pd.DataFrame(twitter_drone)